<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Infrastructure Services</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary text-white py-3">
        <div class="container">
            <a class="navbar-brand text-white fw-bold" href="#">Booking Perpustakaan</a>
        </div>
    </nav>

    <!-- Wrapper untuk konten utama -->
    <div class="container flex-grow-1">
        <main class="my-5">
            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer id="footer" class="text-center py-3 bg-dark text-white">
        <p>&copy; 2025 Pradita University. Semua Hak Dilindungi.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
